{
    "ADMIN": {
        "username": "UserName",
        "password": "PASSWORD",
        "group": "0"
    },
    "USER1": {
        "username": "user1",
        "password": "password1",
        "group": "1"
    }
}