APP_PORT_HOST=xxxx # e.g. 5000
APP_PORT_CONTAINER=xxxx # e.g. 5000


GF_SECURITY_ADMIN_PASSWORD=YOUR_GRAFANA_PASSWORD
GRAFANA_PORT_HOST=xxxx # e.g. 3000
GRAFANA_PORT_CONTAINER=xxxx # e.g. 3000

LOKI_PORT_HOST=xxxx # e.g. 3100
LOKI_PORT_CONTAINER=xxxx # e.g. 3100