AUTH0_CLIENT_ID=YOUR_CLIENT_ID
AUTH0_CLIENT_SECRET=YOUR_CLIENT_SECRET
AUTH0_DOMAIN=YOUR_DOMAIN

FLASK_SECRET_KEY=SOMETHING_MORE_SECURE # e.g. head -c 24 /dev/urandom | xxd -p 


USER_HOST=YOUR_HOST # e.g. localhost
USER_PORT=YOUR_PORT # e.g. 3052

GF_SECURITY_ADMIN_PASSWORD=YOUR_GRAFANA_PASSWORD # e.g. admin